<% include partials/header %>

<% affirm.forEach(function(affirmation){ %>

    <div>
      <div class="container">
        <h2><%= affirmation.name%></h2>
        <p><%= affirmation.content%> </p>
        <img src="<%=affirmation.image%>">
        <a href="/affirmations/<%=affirmation._id%>/edit">Edit/Delete</a>
      </div>
    </div>
<% }); %>

<% include partials/footer %>