<% include partials/header %>

<h1><%=affirmation.name%></h1>

<p><%=affirmation.content%></p>

<button type="button" class="btn btn-outline-primary" href="/affirmations">Back to Affirmations</button>


<% include partials/footer %>
